<div style="text-align:center">
    <h1>Wikipedia Mood-Based Search</h1>

    <input [(ngModel)]="query" name="query" placeholder="Enter search query" />
    <select [(ngModel)]="mood" name="mood" (change)="onSearch()">
      <option value="General">General</option>
      <option value="Curious">Curious</option>
      <option value="Uplifting">Uplifting</option>
      <option value="Entertaining">Entertaining</option>
      <option value="Sad">Sad</option>
    </select>
    <button (click)="onSearch()">Search</button>
  
    <div *ngIf="results.length > 0">
        <h2>Search Results</h2>
        <div> 
          Show Score Information: 
          <input type="checkbox" #showScoreInfo [checked]="showScoreInfo" (click)="toggleShowScoreInfo()">
        </div>
        <div> Showing {{results.length}} results</div>
          <div *ngFor="let result of results" class="search_result">
            <h3><a [href]="result.url" target="_blank">{{ result.title }}</a> </h3>
            <div class="scores">
              <div class="scores" *ngIf="showScoreInfo.checked">
                <div class="score"> Mood-Weighted BM25 Score: {{result.mood_weighted_score.toFixed(3)}} </div>
                <div class="score"> Raw BM25 Score: {{ result.raw_score.toFixed(3) }} </div>
                <div class="score"> Mood Multiplier: {{result.mood_score.toFixed(3)}}</div>
              </div> 
            </div> 
            <p>{{ result.snippet }}</p>
          </div>
      </div>
  </div>
  